* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background-image: url(http://subtlepatterns.com/patterns/debut_dark.png);
}

header { font: normal 3rem/1.25em Oswald }
.dyellow { color: #ffee33 }
.lyellow { color: #fff480 }

ul { text-align: center }
li {
    display: inline-block;
    width: 26%;
    margin: 3.5%;
    padding: 1.5%;
}
li a {
    font: normal 3rem/1.25em Oswald;
    text-decoration: none;
    color: #fff480;
    background: rgba(0,0,0,.5);
}
