* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background-image: url(http://subtlepatterns.com/patterns/debut_dark.png);
}

h1 {
    font: normal 5rem/1.25em Oswald;
    text-transform: uppercase;
    text-align: center;
    margin: .5em 0;
}
.dyellow { color: #ffee33 }
.lyellow { color: #fff480 }
.diagonal {
    background: repeating-linear-gradient(
      135deg,
      #606dbc,
      #606dbc 2rem,
      #465298 2rem,
      #465298 4rem
    );
    display: block;
}
.diagonal a {
    background: rgba(0,0,0,.15);
}

ul { text-align: center }
li {
    display: inline-block;
    width: 26%;
    margin: 3.5%;
    padding: 1.5%;
    background: rgba(0,0,0,.25);
    -webkit-transition: .25s;
    -moz-transition: .25s;
    transition: .25s;
}
li a {
    font: normal 3rem/1.25em Oswald;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff480;
    display: block;
}
li:hover {
    background: rgba(0,0,0,.5);
}

li::before {
    content: "vs";
    float: left;
    font: normal 1rem/1em Oswald;
    color: #fff480;
    padding: .5em;
    border-radius: 1rem;
    background: #465298;
}
